/* Import Globals */
@import "vars"
@import "mixins"
@import "grid"
@import "themes"

html,
body
  font-family: $base-font
  font-size: 18px
  color: $color-text

// Global Typography Settings

h1
  font-size: 55px
  letter-spacing: 2.24px
  line-height: 60px
  +respond-to($tablet-landscape)
    font-size: 76px
    font-weight: $bold
    color: $color-headers
    letter-spacing: 0
    line-height: 66px

h2
  font-size: 14px
  font-weight: 300
  color: $color-headers
  letter-spacing: 0
  line-height: 14px

p
  letter-spacing: 0.82px
  line-height: 32px