/* Import Globals */
@import "vars"
@import "mixins"
@import "grid"
@import "themes"

html,
body
  font-family: $base-font
  font-size: 18px
  color: $color-text

// Global Typography Settings

h1
  font-size: 76px
  font-weight: $bold
  color: $color-headers
  letter-spacing: 0
  line-height: 66px

h2
  font-size: 14px
  font-weight: 300
  color: $color-headers
  letter-spacing: 0
  line-height: 14px

p
  letter-spacing: 0.47px
  line-height: 35px