// Interactive
.interactive
	&.fill
		background:
			color: $color-bg-yellow

// Animation
.animation
	&.fill
		background: $color-bg-red

// Experiential
.experiential
	&.fill
		background: $color-bg-blue