// home
.home.fill
  background-color: $crunchy-mustard

// interactive
.interactive.fill
  background-color: $grandpas-office

// animation
.animation.fill
  background-color: $grandpas-office

// search
.search.fill
  background-color: $grandpas-office
