/* Font Stacks */
// TODO: set our actual stack
$font1:                Helvetica


/* Colors */
$black:                #000
$white:                #fff
$gray:                 #b1b1b1
$cream:                #f8f3e0
$soapstone:            #fffdfa
$light_pink:           #f7cab1
$red:                  #d043df
$blue:                 #88a3aa
$light_yellow:         #fff1a4
$yellow_ochre:         #d7b64b

/* Colors in Use */
$color-bg-body:        $soapstone
$color-text:           $black
$color-link:           $black
$color-button:         $black
$color-button-hover:   $black
$color-links-hover:    $black

$color-text-red:       $red
$color-text-blue:      $blue
$color-text-yellow:    $yellow_ochre

$color-bg-red:         $red
$color-bg-blue:        $blue
$color-bg-yellow:      $yellow_ochre


/* Time */
$fast:                 333ms
$speed-metal:          $fast * 2


/* Easing */
$evil-ease:            cubic-bezier(0.666, 0.000, 0.333, 1.000)


/* Media Queries */
$tablet:               "(min-width: 768px)"
$tablet-landscape:     "(min-width: 768px) and (orientation: landscape)"
$desktop:              "(min-width: 1280px)"
$average-desktop:      "(min-width: 1440px)"
$largest-screens:      "(min-width: 2000px)"