/* Font Stacks */
$base-font:           "neuzeit-grotesk", san-serif
$regular:              400
$bold:                 700
$heavy:                900


/* Colors */
$black:                #000
$burn-out:             #E15542
$case-files:           #EAE8E1
$coors-light:          #E9C967
$dark-gray:            #292929
$faded:                #F8F7F3
$grandpas-basement:    #191919
$gray:                 #b1b1b1
$legwork:              #DDBA4E
$pencil-test:          #BBBA84
$semi-opaque-black:    rgba($black, 0.85)
$slight-white:         #FFFEF8
$white:                #fff


/* Color abstractions */
$color-bg-body:        $faded
$color-button-bg:      $grandpas-basement
$color-button-hover:   $grandpas-basement
$color-button-text:    $faded
$color-headers:        $grandpas-basement
$color-link:           $grandpas-basement
$color-links-hover:    $grandpas-basement
$color-text:           $grandpas-basement
$color-bg-yellow:      $coors-light


/* Time */
$time-travel:          120ms
$fast:                 333ms
$speed-metal:          $fast * 2


/* Easing */
$evil-ease:            cubic-bezier(0.666, 0.000, 0.333, 1.000)


/* Media Queries */
$tablet:               "(min-width: 768px)"
$tablet-landscape:     "(min-width: 768px) and (orientation: landscape)"
$desktop:              "(min-width: 1280px)"
$average-desktop:      "(min-width: 1440px)"
$largest-screens:      "(min-width: 2000px)"
